* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f3f1f2;
}

.content {
  width: 980px;
  margin: 0 auto;
}

.fa-search {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-user-alt {
  margin-left: 40px;
}

.header {
  background: linear-gradient(to right, white 0%,white 50%,white 70%,#e94e38 70%,#e94e38 100%);
}

.header__container {
  display: flex;
}

.header__logo {
  padding: 15px 0;
  width: 245px;
}

.header__navbar {
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  width: 570px;
}

.header__find {
  position: relative;
  display: block;
  width: 75px;
  background-color: #e2dee0;
}

.navbar__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #96a6a7;
}

.header__login {
  color: white;
  background: #e94e38;
  padding: 30px 0;
  width: 160px;
}

.header__login-link {
  color: white;
  margin-left: 15px;
  text-transform: uppercase;
  text-decoration: none;

}


.search {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url(../img/background.png) center center;
  background-size: cover;
  text-align: center;
  
}

.search__title {
  padding-top: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}

.search__container {
  padding-top: 35px;
  padding-bottom: 20px;
  width: 470px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

}
.search__container-itemtext {
  
  font-size: 18px;
  opacity: 0.9;
  color: white;
}



.search__container-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 220px;
  height: 50px;
}

.search__item {
  margin: 0 auto;
  position: relative;
  background-color:rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  width: 455px;
  height: 50px;
}

.search__itemtext {
  position: absolute;
  opacity: 0.9;
  color: white;
  top: 50%;
  left: 13%;
  transform: translate(-12%, -50%);
}

.search__button {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 20px 35px;
  border-radius: 50px;
  font-size: 18px;
  color: #fff;
  background-color: #e94e38;
  border: none;
}

.filter {
  
  background-color: #fff;
}

.filter__container {
  display: flex;
  align-items: center;
}

.filter__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__first-item {
  margin-right: 120px;
}

.filter__second-item {
  margin-right: 78px;
}

.filter__item-link {
  font-size: 12px;
  margin: 25px 0;
  margin-right: 25px;
  color: #96a6a7;
  text-decoration: none;
}

.filter__item-link:last-child {
  margin-right: 0;
}

.filter__item-link:hover {
  color: #e94e38;
}

.filter__item-container {
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 115px;
  height: 35px;
}

.filter__item-container:first-child {
  margin-right: 12px;
}

.filter__item-container-firsttxt {
  color: #e94e38;
}

.filter__item-container-secondtxt {
  color: #fff;
}

.filter__item-containermod {
  background-color:rgba(27, 175, 93, 1);;
}

.filter__item-text {
  margin-right: 10px;
  font-size: 12px;
  color: #96a6a7;
  font-weight: 500;
}


.filter__item-img {
  margin-right: 10px;
}

.filter__item-img:last-child {
  margin-right: 0;
}

.posts {
  margin-top: 45px;
}

.posts__row {
  display: flex;
  justify-content: space-around;
}

.posts__item {
  margin-bottom: 22px;
  position: relative;
  width: 210px;
  height: 266px;
  background-color: #fff;
}

.posts__photo {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 140px;
}

.posts__firstphoto {
  background: url(../img/post_1.png) center center/cover no-repeat;
}

.posts__secondphoto {
  background: url(../img/post_2.png) center center/cover no-repeat;
}

.posts__thirdphoto {
  background: linear-gradient(to top, rgba(136, 73, 156, 0.8), rgba(136, 73, 156, 0.8)), url(../img/post_1.png) center center/cover no-repeat;}

.posts__thirdphoto-mod {
  background: url(../img/post_1.png) center center/cover no-repeat;
}

.posts__photo-price {
  margin-top: 7px;
  margin-right: 8px;
  display: flex;
  width: 65px;
  height: 25px;
  background-color: #1baf5d;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.posts__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.posts__info-text {
  margin-top: 33px;
  color: #566375;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

.posts__info-subtext {
  margin-top: 20px;
  color: #1baf5d;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.posts__stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts__count {
  margin-left: 2px;
  color: #96a6a7;
  font-size: 12px;
  font-weight: 500;
}

.posts__photo-show {
  width: 100%;
  height: 140px;
}

.posts__photo-show-more {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 15px;
  align-items: center;
  width: 137px;
  height: 31px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  
}

.posts__photo-show-images {
  text-align: center;
}

.posts__photo-show-more-text {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}

.posts__photo-show-stars {
  margin-right: 25px;
}

.posts__photo-show-more-find {
  margin-top: 9px;
  margin-right: 8px;
  margin-left: 18px;
}

.posts__long-item {
  margin-bottom: 22px;
  position: relative;
  width: 455px;
  height: 270px;
  background-color: #fff;
}

.posts__long-item-photo {
  display: flex;  
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  width: 100%;
  height: 120px;
}

.posts__long-firstphoto {
  background: url(../img/big_post_1.png) center center/cover no-repeat;
}

.posts__long-img {
  position: absolute;
  left: 5%;
  top: 45%;
  transform: translate(-5%, -45%);
}

.posts__long-item-info {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 29%, rgba(0, 0, 0, 0) 100%);
}

.posts__long-item-info-text {
  margin-right: 8px;
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
}

.posts__long-item-stars {
  position: absolute;
  top: 50%;
  left: 21%;
}

.posts__long-item-info-stars {
  margin-right: 2px;
}

.posts__long-item-info-count {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}

.posts__long-item-downblock {
  margin-top: 50px;
  display: flex;
  align-items: center;
  
}

.posts__long-item-downblock-img {
  margin-left: 22px;
  margin-right: 21px;
}

.posts__long-item-downblock-text-title {
  margin-bottom: 11px;
  color: #566375;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.posts__long-item-downblock-text{
  color: #566375;
  font-size: 14px;
}

.posts__long-item-downblock-span {
  font-weight: 500;
  text-decoration: underline;
}

.posts__loadmore {
  margin: 0 auto;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  color: #566375;
  font-size: 18px;
  text-decoration: underline;
}

.offer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer__title {
  color: #566375;
  font-size: 22px;
}

.offer__subtitle {
  color: #96a6a7;
  font-size: 16px;
}

.offer__title-mod {
  color: #1baf5d;
  font-size: 24px;
}

.offer__images {
  display: flex;
  align-items: center;
}

.offer__downblock {
  width: 765px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 143px;
}

.offer__downblock-item {
  display: flex;
}

.offer__downblock-img {
  width: 62px;
  height: 62px;
  margin-right: 33px;
}

.offer__downblock-text {
  width: 259px;
  color: #566375;
  font-size: 14px;
}

.delimeter {
  margin-bottom: 88px;
}

.offer__title {
  margin-bottom: 11px;
}

.offer__subtitle {
  margin-bottom: 71px;
}

.offer__title-mod {
  margin-top: 38px;
  margin-bottom: 43px;
}

.footer__container {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url(../img/background.png) center center;
  background-size: cover;
  text-align: center;
}

.footer__title {
  padding-top: 61px;
  padding-bottom: 47px;
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  color: #ffffff;
  font-size: 24px;
}

.footer__email {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 492px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  background-color:rgba(255, 255, 255, 0.2);
}

.footer__email-img {
  margin-right: 18px;
}

.footer__email-text {
  color: #ffffff;
  font-size: 18px;
}

.footer__email-block {
  display: flex;
  margin-left: 33px;
}

.footer__button {
  margin-right: 4px;
  border-radius: 50px;
  background-color: #e94e38;
  box-shadow: 0 2px 0 #c1412e;
  border: none;
  font-size: 14px;
  padding: 17px 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
}

.footer__menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 64px;
}

.footer__menu-title {
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 16px;
}
.footer__menu-item-link {
  color: rgba(192, 190, 188, 0.7);
  font-size: 14px;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer__menu-item-link:last-child {
  margin-bottom: 0;
}

.delimeter-mod {
  margin-top: 57px;
  margin-bottom: 42px;  
  opacity: 0.1;
}

.footer__social-img {
  margin-right: 23px;
}

.footer__menu-text {
  color:rgba(192, 190, 188, 0.7);
  font-size: 14px;
}
